{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container bg-dark">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to Content Aggregator!</h1>
        <p class="lead">This is a simple content aggregator site. Check out the latest aggregations here.</p>
        <hr class="my-4">
        <p>Enter a URL to extract data from:</p>
        <form method="post" action="{% url 'extract' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL here">
            </div>
            <button type="submit" class="btn btn-primary">Extract Data</button>
        </form>
    </div>
</div>
{% endblock %}